body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0f8ff;
  overflow-x: hidden;
}

/*Header*/
header {
  min-height: 15vh;
  position: fixed;
  width: -webkit-fill-available;
  background-image: linear-gradient(#eba8178e, rgba(240, 248, 255, 0.61));
}

.logo {
  margin-left: 6.5rem;
  height: 5rem;
  width: 6.5rem;
}

.out {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 2rem;
}

/*Main*/
main {
  min-height: 70vh;
  margin-top: 10%;
  margin-left: 20%;
}
.greeting {
  position: fixed;
}

h1 {
  color: rgb(66, 124, 174);
  text-align: left;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 5.5rem;
}

/* Footer*/

.footer {
  min-height: 15vh;
  background-image: linear-gradient(rgba(240, 248, 255, 0.61), #eba8178e);
  display: flex;
  align-items: center;
}

.media {
  margin-top: 2rem;
  margin-left: 37rem;
  font-size: 2.5rem;
  color: #427cae;
  text-align: center;
}

.information {
  display: flex;
  list-style: none;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

a {
  color: #eba917;
  text-decoration: none;
}

a:hover {
  color: rgb(66, 124, 174);
  cursor: pointer;
}

/*Sidebar*/
.sidebar {
  margin-top: 5%;
  position: fixed;
  width: -webkit-fill-available;
  margin-bottom: 20%;
}

#menu {
  list-style-type: none;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 6rem;
  padding: 1rem;
  border-right: dotted;
  border-color: #f1a80a75;
  position: absolute;
  width: 18rem;
  height: 22rem;
}

li {
  margin: 1rem;
}
.leftcolumn {
  float: left;
  width: 10%;
}

/*Inicio*/

.card {
  height: 11rem;
  width: 26rem;
  background-color: #eba81757;
  border-left: solid rgb(66, 124, 174);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.btn.btn-primary {
  background-color: rgb(66, 124, 174) !important;
  border-color: rgb(66, 124, 174) !important;
  color: white;
}

#eye {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1rem;
}

#eye:hover {
  cursor: pointer;
}

/*Banner de Inicio*/
.contener-banners {
  margin-top: 10%;
  display: flex;
}

.banner,
.bannerB {
  width: 30%;
}
.bannerA {
  margin-left: 5%;
  width: 30%;
}

/*Pagina de Cuentas*/

.card_cuenta {
  height: 15rem;
  width: 26rem;
  border-radius: 0.3rem;
  background-color: #eba81757;
  border-left: solid rgb(66, 124, 174);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  padding: 1.2rem;
}

ul,
h2,
h3,
h5 {
  color: rgb(66, 124, 174);
}

/*Pagina de Pagos*/

.titlePagos {
  margin-top: 5%;
  margin-left: 35%;
  align-items: center;
}

#tablaCSS {
  margin: 3.5rem;
  max-width: 85%;
}

.payment {
  margin-top: 5%;
}

/*Pagina transferencias*/

.titleTransfer {
  margin-top: 5%;
  margin-left: 30%;
  align-items: center;
}

/*Pagina de Prestamos*/
.prest {
  margin-bottom: 1rem;
}

.simTabla {
  margin-right: 50%;
}

.formSimulador {
  margin-top: 5rem;
  margin-left: 25%;
}

/* Pagina Conversor de Moneda */

.conversor,
.simPrestamo,
.titleCuenta {
  margin-top: 10%;
  margin-left: 20%;
  align-items: center;
}

.formConversor {
  height: 12rem;
  width: 26rem;
  border-radius: 0.3rem;
  background-color: #eba81757;
  border: 1px solid rgb(66, 124, 174);
  padding: 2.7rem 4.7rem;
  margin-top: 2rem;
  margin-left: 25%;
  margin-bottom: 10%;
}
.eleccionDeMoneda {
  margin-left: 3.2%;
}

#cambio_valor {
  margin: 0.5rem 0;
  border: none;
  background-color: transparent;
}

/* inicio de sesion y registrarse*/

.main_is {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.logoR {
  height: 5rem;
  width: 6rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  min-width: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.image {
  min-width: 45%;
  background-image: url(../images/mejor_registro.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(66, 124, 174);
}

/*Responsive*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    min-width: 100%;
  }
  .image {
    min-width: 0%;
    background-image: none;
  }
}
