* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

.nav-principal {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 5rem;
  width: 6.5rem;
}

a {
  font-size: 1.3rem;
  color: blue;
  text-decoration: none;
  margin-top: 0.5rem;
}

main {
  min-height: 80vh;
}

#banner {
  height: 21rem;
  width: 84.3rem;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  color: rgb(66, 124, 174);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.cards {
  background-color: rgb(66, 124, 174);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
}

.footA {
  font-size: 1.2rem;
  color: blue;
  margin-bottom: 0.5rem;
}

.miniIcon {
  display: flex;
  gap: 2rem;
}

.mini {
  font-size: 2rem;
}

/* Clases seccion conversor de moneda */

.conversor, .prestamos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cambio_valor{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* inicio de sesión*/

.header_is{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.main_is{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}