/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*** BODY ***/

body {
  background-color: #f0f8ff;
}

/*** HEADER ***/

/* Navbar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: orange;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 0.2rem 0.9rem;
}

.sidebar .logo > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sidebar .logo .logo-name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo .logo-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-list {
  overflow: visible;
}

.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-list li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-list li:hover {
  background-color: rgb(255, 195, 83);
}

.sidebar .nav-list li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-list li .icon-link {
  display: block;
}

.sidebar .nav-list li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.close .nav-list li i.arrow {
  display: none;
}

.sidebar .nav-list li.show i.arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-list li a .link-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s ease;
}

.sidebar.close .nav-list li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: orange;
  display: none;
  transition: all 0.3s ease;
}

.sidebar .nav-list li.show .sub-menu {
  display: block;
}

.sidebar.close .nav-list li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-list li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-list li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-list li .sub-menu a:hover {
  opacity: 1;
}

.sidebar .nav-list li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-list li .sub-menu .link-name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-list li .sub-menu.blank {
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-list li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

/* Seccion usuario */
.profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background-color: none;
  width: 78px;
}

.profile-details .profile-content {
  display: flex;
  align-items: center;
}

.profile-details .profile-content img {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 14px 0 12px;
  background-color: orange;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details .profile-content img {
  padding: 10px;
}

.profile-details .name-job .name,
.profile-details .name-job .job {
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .name-job .name,
.sidebar.close .profile-details .name-job .job {
  opacity: 0;
  pointer-events: none;
}

.profile-details .name-job .job {
  font-size: 12px;
}

/* Seccion superior de la nav */
.home-section {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  background-color: #e4e9f7;
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: orange;
}

.home-section .home-content i,
.home-section .home-content .text {
  color: #fff;
  font-size: 35px;
}

.home-section .home-content i {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
}

/*** MAIN ***/

main {
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;

}

/* Inicio/Index */

.cards-index {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0 6rem 0;
}

.cards-index h5 {
  color: rgb(66, 124, 174);
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.5rem 0;
}

.cards-index .account_kind {
  font-weight: 600;
}

.btn.btn-primary {
  background-color: rgb(66, 124, 174);
  border-color: rgb(66, 124, 174);
  color: white;
}
.btn.btn-primary:hover {
  background-color: rgb(97, 167, 228);
  border-color: rgb(97, 167, 228);
  transition: 0.2s ease;
}

.card-container {
  width: 26rem;
  height: 13rem;
  padding: 2rem 1rem;
  background-color: orange;
  border-left: 3px solid rgb(66, 124, 174) !important;
  border: 1px solid orange;
  border-radius: 2%;
}

.card-container > div {
  display: flex;
  justify-content: space-between;
}
.card-container > div > i {
  color: rgb(66, 124, 174);
  cursor: pointer;
}
.card-container > div > i:hover {
  color: rgb(97, 167, 228);
}

/* Banner de Inicio */
.contener-banners {
  display: flex;
  justify-content: center;
}

.banner,
.bannerA,
.bannerB {
  width: 33.333%;
  margin-bottom: 1rem;
}

.title-seccion,
.subtitle {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

/* SECCION CUENTAS */

.cards-index-cuentas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-cuentas {
  width: 30rem;
  padding: 2rem 1rem;
  background-color: orange;
  border-left: 3px solid rgb(66, 124, 174) !important;
  border: 1px solid orange;
  border-radius: 2%;
}

/* SECCION PAGOS y TRANSFERENCIAS */

.payment {
  width: 80%;
  margin: auto;
}

/* SECCION PRESTRAMOS */

.inputs-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.inputs-form form div {
  margin: 1.5rem;
}

/* SECCION CONVERSOR */

.conversor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valor-moneda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.valor-moneda > .valor-actual {
  min-width: 90%;
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

#cambio_valor {
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

/*** FOOTER ***/

.footer {
  background-color: orange;
  background-image: linear-gradient(0deg, orange 0%, #f0f8ff 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
}

.information {
  display: flex;
  gap: 0 0.5rem;
  margin: 3rem;
  list-style: none;
  font-size: 1rem;
}

.media {
  display: flex;
  gap: 0 0.5rem;
  list-style: none;
  font-size: 2rem;
}

a {
  color: #9b6a00;
  text-decoration: none;
}

a:hover {
  color: rgb(66, 124, 174);
  cursor: pointer;
  transition: 0.2s ease;
}

/* inicio de sesion y registrarse*/

.main-is {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

.logoR {
  height: 5rem;
  width: 6rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  min-width: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.image {
  min-width: 45%;
  background-image: url(../assets/images/mejor_registro.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(66, 124, 174);
}

/*Responsive*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .cards-index{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: auto;
  }

  .card-container{
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

 .footer{
  justify-content: start;
  margin-right: 0;
 }

 /* Cuentas*/

  .cards-index-cuentas{
    display: flex;
    justify-content: center;
  }

  .card-container-cuentas{
    align-items: center;
  }

  /*Mis pagos*/

  .payment{
    width: 80%;
    display: flex;
    margin: 0;
    margin-left: 7rem;
    justify-content: center;
    align-items: center;
  }

  .custom-style{
    font-size: 1.5rem !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    min-width: 100%;
  }
  .image {
    min-width: 0%;
    background-image: none;
  }

  .sidebar.close, .nav-list{
    overflow: hidden;
  }

  .cards-index{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container{
    width: 19rem;
    height: 11rem;
    padding:0 0.5rem;
    margin-bottom: 1rem;
  } 

  p{
    margin-bottom: 0.7rem;
  }

  .bannerA, 
  .bannerB,
  .banner{
    display: none;
  }

  .footer{
    display: flex;
    flex-direction: column;
    margin:0;
  }

  .information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 0.3rem;
    margin-left: 2.5rem;
    font-size: 0.7rem;
  }

  .media{
    gap: 2rem;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 2.5rem;
  }

  /*Cuentas*/

  .cards-index-cuentas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .card-container-cuentas{
    width: 20rem;
    justify-content: center;
  }

  .title-seccion{
    margin-bottom: 0;
  }

  /*Mis pagos*/

  .payment{
    width: auto;
    display: flex;
    margin: 0rem;
    justify-content: center;
    align-items: center;
  }

  .custom-style{
    width: 20rem !important;
    font-size: 0.5rem !important;
  }
}

/* Responsive de la barra */
@media (max-width: 490px) {
  .sidebar.close .nav-list li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }

  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0;
  }
}
